@media (min-width: 1367px) {
  #contact .s1 div {
    margin-bottom: 2.5rem;
  }

  #portfolio ul {
    top: 10%;
    right: 12%;
  }

  #testimonial h1 {
    padding-bottom: 2rem;
  }

  #testimonial .user-card {
    width: 230px;
    height: 230px;
    margin-top: 0;
  }

  #testimonial i {
    margin: 0.75rem 5rem;
    font-size: 5rem;
  }
}

@media (max-width: 1366px) {
  #about h1 {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  #portfolio .flex .p1,
  #portfolio .flex .p2,
  #portfolio .flex .p3,
  #portfolio .flex .p4,
  #portfolio .flex .p5,
  #portfolio .flex .p6 {
    width: 320px;
    height: 240px;
  }

  #portfolio ul {
    top: 10%;
    right: 12%;
  }

  #testimonial .user {
    display: flex;
  }

  #testimonial h1 {
    padding-bottom: 2rem;
  }

  #testimonial .user-card {
    width: 230px;
    height: 230px;
    margin-top: 0;
  }

  #testimonial i {
    margin: 0.75rem 3rem;
    font-size: 5rem;
  }

  #contact .s1 div {
    margin-bottom: 2rem;
  }

  #contact .label {
    padding: 1rem 1.2rem;
  }
}

@media (max-width: 1024px) {
  #about .edu .flex2 td {
    left: 800px;
  }

  #about h1 {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  #portfolio ul {
    top: 7%;
    right: 7%;
  }

  #portfolio .flex .p1,
  #portfolio .flex .p2,
  #portfolio .flex .p3,
  #portfolio .flex .p4,
  #portfolio .flex .p5,
  #portfolio .flex .p6 {
    width: 300px;
    height: 220px;
  }

  #testimonial .user {
    display: flex;
  }
}

@media (max-width: 983px) {
  #portfolio .flex .p1,
  #portfolio .flex .p2,
  #portfolio .flex .p3,
  #portfolio .flex .p4,
  #portfolio .flex .p5,
  #portfolio .flex .p6 {
    width: 270px;
    height: 220px;
  }
}

@media (max-width: 900px) {
  #about .edu .flex2 {
    display: none;
  }

  #about h1 {
    padding-bottom: 0.5rem;
  }

  #about .items .about-info .item > p {
    font-size: 0.9rem;
  }

  #about .items .about-info .item .btn {
    margin-top: 0;
    margin-bottom: 0.2rem;
  }

  #about .items .about-info {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
  }

  #about .items .about-info .m-bottom {
    margin-bottom: 1rem;
  }
  #about .flex3 .btn2 {
    margin-top: 0.3rem;
  }
}

@media (max-width: 850px) {
  #portfolio .flex .p1,
  #portfolio .flex .p2,
  #portfolio .flex .p3,
  #portfolio .flex .p4,
  #portfolio .flex .p5,
  #portfolio .flex .p6 {
    width: 250px;
    height: 200px;
  }

  #testimonial i {
    margin: 0.75rem 2rem;
    font-size: 5rem;
  }
}

@media (max-width: 769px) {
  /* about */
  #about .items .about-info {
    padding: 0.5rem;
    font-size: 0.75rem;
  }

  #about .items .about-info .item {
    font-size: 0.75rem;
  }

  #about .items .about-info .item p {
    font-size: 0.75rem;
    text-align: center;
  }

  .progress {
    width: 300px;
  }

  .progressbar {
    width: 297px;
  }

  @keyframes progress {
    from {
      width: 0;
    }

    to {
      width: 297px;
    }
  }

  .progressbar2 {
    width: 290px;
  }

  @keyframes progress2 {
    from {
      width: 0;
    }

    to {
      width: 290px;
    }
  }

  .progressbar3 {
    width: 295px;
  }

  @keyframes progress3 {
    from {
      width: 0;
    }

    to {
      width: 295px;
    }
  }

  #about .edu .flex2 {
    display: none;
  }

  #about .edu .flex2 td {
    position: absolute;
    left: 315px;
  }

  .progress4 {
    margin-bottom: 0.1rem;
  }

  #about .items .about-info .btn {
    padding: 0.5rem 3rem;
    margin-bottom: 1rem;
  }

  /* services */
  .img-size {
    width: 150px;
    height: 100px;
  }

  #services .items > .img-bg {
    height: 150px;
  }

  /* portfolio */
  #portfolio .flex .p1,
  #portfolio .flex .p2,
  #portfolio .flex .p3,
  #portfolio .flex .p4,
  #portfolio .flex .p5,
  #portfolio .flex .p6 {
    width: 200px;
    height: 200px;
  }

  #portfolio ul {
    top: 10% !important;
    right: 10% !important;
  }

  /* testimonial */
  #testimonial h1 {
    padding-bottom: 2rem;
  }

  #testimonial .user-card {
    width: 230px;
    height: 230px;
    margin-top: 0;
  }

  #testimonial i {
    margin: 1rem 2rem;
    font-size: 3.5rem;
  }

  /* contact */
  #contact p {
    padding: 0.4rem;
  }

  #contact .s3,
  #contact .s5 {
    display: flex;
    justify-content: space-evenly;
  }

  #contact .label {
    padding: 0.75rem 1rem;
    margin: 1rem;
  }

  @media (max-width: 635px) {
    #portfolio .flex .p1,
    #portfolio .flex .p2,
    #portfolio .flex .p3,
    #portfolio .flex .p4,
    #portfolio .flex .p5,
    #portfolio .flex .p6 {
      width: 180px;
      height: 180px;
    }

    #testimonial .user-card > P {
      font-size: 0.8rem;
      margin: 1rem 0;
    }
  }

  @media (max-width: 635px) {
    #portfolio .flex .p1,
    #portfolio .flex .p2,
    #portfolio .flex .p3,
    #portfolio .flex .p4,
    #portfolio .flex .p5,
    #portfolio .flex .p6 {
      width: 160px;
      height: 160px;
    }
  }

  @media (max-width: 600px) {
    /* about */
    #about .items .about-info {
      flex-direction: column;
    }

    .progress {
      width: 470px;
    }

    .progressbar {
      width: 467px;
    }

    @keyframes progress {
      from {
        width: 0;
      }

      to {
        width: 467px;
      }
    }

    .progressbar2 {
      width: 460px;
    }

    @keyframes progress2 {
      from {
        width: 0;
      }

      to {
        width: 460px;
      }
    }

    .progressbar3 {
      width: 465px;
    }

    @keyframes progress3 {
      from {
        width: 0;
      }

      to {
        width: 465px;
      }
    }

    #about .edu .flex2 {
      display: none;
    }

    .progress4 {
      width: 380px;
    }

    /* services */
    #services .items > .img-bg {
      display: none;
    }

    #services .items {
      margin-left: 1rem;
    }

    #portfolio .flex > div > span,
    #portfolio .flex2 > div > span {
      padding: 0.3rem 0.7rem;
      font-size: 0.75rem;
    }

    /* testimonial */
    #testimonial .user-card {
      font-size: 0.75rem;
    }

    #testimonial i {
      margin: 1rem 1.5rem;
      font-size: 3.5rem;
    }

    /* contact */
    #contact textarea {
      width: 25rem;
      height: 12rem;
    }

    #contact .label {
      padding: 0.75rem 1rem;
      margin: 0.75rem;
    }

    #contact .s1 div {
      margin-bottom: 1.4rem;
    }
  }

  @media (max-width: 569px) {
    .progress {
      width: 430px;
    }

    .progressbar {
      width: 428px;
    }

    @keyframes progress {
      from {
        width: 0;
      }

      to {
        width: 428px;
      }
    }

    .progressbar2 {
      width: 420px;
    }

    @keyframes progress2 {
      from {
        width: 0;
      }

      to {
        width: 420px;
      }
    }

    .progressbar3 {
      width: 425px;
    }

    @keyframes progress3 {
      from {
        width: 0;
      }

      to {
        width: 425px;
      }
    }
  }

  @media (max-width: 532px) {
    .progress {
      width: 410px;
    }

    .progressbar {
      width: 408px;
    }

    @keyframes progress {
      from {
        width: 0;
      }

      to {
        width: 408px;
      }
    }

    .progressbar2 {
      width: 400px;
    }

    @keyframes progress2 {
      from {
        width: 0;
      }

      to {
        width: 400px;
      }
    }

    .progressbar3 {
      width: 405px;
    }

    @keyframes progress3 {
      from {
        width: 0;
      }

      to {
        width: 405px;
      }
    }

    #testimonial i {
      margin: 1rem 1rem;
      font-size: 3.5rem;
    }
  }

  @media (max-width: 503px) {
    .progress {
      width: 370px;
    }

    .progressbar {
      width: 368px;
    }

    @keyframes progress {
      from {
        width: 0;
      }

      to {
        width: 368px;
      }
    }

    .progressbar2 {
      width: 360px;
    }

    @keyframes progress2 {
      from {
        width: 0;
      }

      to {
        width: 360px;
      }
    }

    .progressbar3 {
      width: 365px;
    }

    @keyframes progress3 {
      from {
        width: 0;
      }

      to {
        width: 365px;
      }
    }

    #about h1 {
      padding-top: 1.2rem;
    }

    #about .flex3 .btn2 {
      margin-top: 0.1rem;
    }
  }

  #about .items .about-info .m-bottom {
    margin-bottom: 0.75rem;
  }

  #portfolio ul {
    top: 12%;
    right: 17%;
    text-align: center;
  }
}

@media (max-width: 485px) {
  #testimonial .user-card {
    width: 210px;
    height: 210px;
  }

  #testimonial .user-card > P {
    font-size: 0.7rem;
    padding: 0.2rem;
  }

  #testimonial i {
    margin: 1rem 1rem;
    font-size: 3rem;
  }
}

@media (max-width: 460px) {
  .progress {
    width: 325px;
  }

  .progressbar {
    width: 323px;
  }

  @keyframes progress {
    from {
      width: 0;
    }

    to {
      width: 323px;
    }
  }

  .progressbar2 {
    width: 315px;
  }

  @keyframes progress2 {
    from {
      width: 0;
    }

    to {
      width: 315px;
    }
  }

  .progressbar3 {
    width: 320px;
  }

  @keyframes progress3 {
    from {
      width: 0;
    }

    to {
      width: 320px;
    }
  }

  #portfolio .flex .p1,
  #portfolio .flex .p2,
  #portfolio .flex .p3,
  #portfolio .flex .p4,
  #portfolio .flex .p5,
  #portfolio .flex .p6 {
    width: 150px;
    height: 140px;
  }

  #testimonial .user-card > P {
    font-size: 0.6rem;
  }
}

@media (max-width: 430px) {
  .progress {
    width: 300px;
  }

  .progressbar {
    width: 298px;
  }

  @keyframes progress {
    from {
      width: 0;
    }

    to {
      width: 298px;
    }
  }

  .progressbar2 {
    width: 290px;
  }

  @keyframes progress2 {
    from {
      width: 0;
    }

    to {
      width: 290px;
    }
  }

  .progressbar3 {
    width: 295px;
  }

  @keyframes progress3 {
    from {
      width: 0;
    }

    to {
      width: 295px;
    }
  }

  .progress4 {
    width: 350px;
  }

  #portfolio ul {
    right: 15%;
    text-align: center;
  }

  #testimonial i {
    font-size: 3rem;
  }

  #testimonial .line {
    width: 300px;
  }
}

@media (max-width: 415px) {
  /* About */
  #about h1 {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  #about .items .about-info .item .btn {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  #about .items .about-info .progress {
    width: 300px;
  }

  #about .items .about-info .progress .progressbar {
    width: 297px;
  }

  #about .items .about-info .progress .progressbar2 {
    width: 297px;
  }

  #about .items .about-info .progress .progressbar3 {
    width: 295px;
  }

  /* Portfolio */
  .progress4 {
    width: 350px;
  }

  #portfolio .flex > div > span,
  #portfolio .flex2 > div > span {
    padding: 0.2rem 0.5rem;
    font-size: 0.5rem;
  }

  #portfolio ul {
    top: 15% !important;
    right: 10% !important;
    text-align: center;
  }

  #testimonial .line {
    width: 280px;
  }

  #testimonial i {
    margin: 1rem 0.75rem;
    font-size: 3rem;
  }

  #contact textarea {
    width: 25rem;
    height: 10rem;
  }

  #contact .label {
    padding: 0.5rem 1rem;
    margin: 1.75rem;
  }

  #contact .s1 div {
    margin-bottom: 0.75rem;
  }
}

@media (max-width: 411px) {
  #contact .label {
    padding: 0.75rem 0.5rem;
    font-size: 1rem;
  }

  #contact .s1 div {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 400px) {
  .progress4 {
    width: 300px;
  }

  #about .edu .flex td {
    left: 250px;
  }

  #testimonial .user .user3 {
    display: none;
  }

  #testimonial i {
    margin: 1rem 0.75rem;
    font-size: 2.7rem;
  }
}
/* 
@media (max-height: 375px) {

} */

@media (max-width: 380px) {
  #about .items .about-info {
    font-size: 1rem;
  }

  #about .edu {
    font-size: 0.85rem;
  }

  #services h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  #services .items p {
    margin: 0.8rem 0 0.9rem;
  }

  #services .items .py-1 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .progress {
    width: 255px !important;
  }

  .progressbar {
    width: 253px !important;
  }

  @keyframes progress {
    from {
      width: 0;
    }

    to {
      width: 253px;
    }
  }

  .progressbar2 {
    width: 245px !important;
  }

  @keyframes progress2 {
    from {
      width: 0;
    }

    to {
      width: 245px;
    }
  }

  .progressbar3 {
    width: 250px !important;
  }

  @keyframes progress3 {
    from {
      width: 0;
    }

    to {
      width: 250px;
    }
  }

  #portfolio .flex,
  #portfolio .flex2 {
    margin-left: 1rem;
  }

  #portfolio ul li a {
    padding: 0.5rem;
  }

  #testimonial i {
    margin: 1rem 0.5rem;
    font-size: 2.5rem;
  }

  #testimonial .line {
    width: 250px;
  }

  #testimonial .user-card {
    font-size: 0.5rem;
  }

  #contact h1 {
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
  }

  #contact p {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  #contact textarea {
    width: 25rem;
    height: 10rem;
  }

  #contact .label {
    padding: 0.5rem 1rem;
    margin: 1.75rem;
  }
  #contact .s1 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  #contact .s1 div {
    margin-bottom: 0.75rem;
  }
}

@media (max-width: 332px) {
  /* Services */
  #services h1 {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }

  #services .items p {
    margin: 0.5rem 0 0.7rem;
  }

  #services .items .py-1 {
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
  }

  #testimonial i {
    margin: 1rem 0.5rem;
    font-size: 2.2rem;
  }

  #contact h1 {
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
  }

  #contact p {
    padding-bottom: 0;
    padding-top: 0;
  }

  #contact .s1 {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }

  #contact textarea {
    margin-top: 0.5rem;
  }

  #contact .label {
    padding: 0.5rem 0.1rem;
    font-size: 0.75rem;
  }
}

@media (max-width: 320px) {
  #about {
    font-size: 0.75rem;
  }

  #about h1 {
    padding-top: 1.5rem;
  }

  #about .items .about-info .skillset {
    display: none;
  }

  #about .items .about-info span {
    font-size: 0.65rem;
  }

  #about .edu .flex td {
    left: 200px;
  }

  .progress4 {
    width: 250px;
  }

  #about .flex3 {
    margin-top: 0.75rem;
  }

  #portfolio ul {
    top: 18%;
    right: 8%;
  }

  #portfolio .flex .p1,
  #portfolio .flex .p2,
  #portfolio .flex .p3,
  #portfolio .flex .p4,
  #portfolio .flex .p5,
  #portfolio .flex .p6 {
    width: 100px;
    height: 100px;
  }

  #testimonial .user-card {
    font-size: 0.4rem;
    height: 190px;
    width: 250px;
    font-size: 0.5rem;
  }

  #testimonial i {
    margin: 1rem 0.5rem;
    font-size: 1.8rem;
  }

  #testimonial .line {
    width: 200px;
  }

  #contact .label {
    padding: 0.5rem 0.1rem;
    font-size: 0.75rem;
  }

  #contact .s1 div {
    margin-bottom: 0.5rem;
  }
}
