:root {
  --primary-color: #01002d;
  --dark-primary-color: #010111;
  --secondary-color: #e61c5d;
  --tertiary-color: #ffbd39;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  color: #fff;
  overflow-x: hidden;
  transition: transform 0.4s ease;
}

body.show-nav {
  transform: translateX(200px);
}

body.show-nav .btn-lines:nth-child(1) {
  transform: rotate(45deg) translate(7px, 5px);
}

body.show-nav .btn-lines:nth-child(2) {
  opacity: 0;
}

body.show-nav .btn-lines:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -8px);
}

a {
  text-decoration: none;
}

/* utilities */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 3rem;
}

.center {
  text-align: center;
}

.btn {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  margin-top: 0.75rem;
}

.btn2 {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 0.5rem 3rem;
  border-radius: 20px;
  margin-top: 0.75rem;
}

.btn:hover,
.btn2:hover {
  opacity: 0.7;
}

.text-primary {
  color: var(--tertiary-color);
}

.py-1 {
  padding: 1.5rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

/* nav */
nav {
  position: fixed;
  top: 0;
  left: 0;
  border-right: 2px solid var(--primary-color);
  z-index: 100;
  width: 200px;
  height: 100vh;
  background-color: var(--dark-primary-color);
  color: #fff;
  transform: translateX(-100%);
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  padding: 1.3rem;
  border-bottom: 2px solid var(--primary-color);
  text-align: center;
}

nav ul li:first-child {
  border-top: 2px solid var(--primary-color);
}

nav ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.4s ease;
}

nav ul li a.current {
  text-decoration: underline;
  text-decoration-color: #ffbd39;
}

nav ul li a:hover {
  color: #ffbd39;
}

nav .logo {
  margin: 0;
  padding: 30px 0;
  text-align: center;
}

nav .logo img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.menu-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #00005c;
  width: 50px;
  height: 50px;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 100;
}

.btn-lines {
  width: 30px;
  height: 2.5px;
  background: #fff;
  margin: 0.5rem 0;
  transition: all 0.4s ease;
}
/* showcase */

#showcase {
  background-color: var(--primary-color);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: re;
}

#showcase img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

#showcase .showcase-content a {
  color: #fff;
  text-decoration: none;
  transition: color 0.4s ease;
}

#showcase .showcase-content a:hover {
  color: var(--secondary-color);
}

#showcase .showcase-content .fab {
  font-size: 1.6rem;
  margin: 0.75rem 0.5rem 1rem 0;
}

/* about */
#about {
  background-color: var(--primary-color);
  height: 100vh;
}

#about .items .about-info {
  display: flex;
  background-color: var(--dark-primary-color);
  padding: 0.75rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

#about .items .about-info .item > p {
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  text-align: center;
}

#about .items .about-info .m-bottom *:first-child {
  display: flex;
  justify-content: space-between;
}

#about .items .about-info .item > div {
  display: flex;
  justify-content: center;
  text-align: center;
}

#about .items .about-info span {
  font-size: 0.85rem;
}

#about .items .about-info .m-bottom {
  margin-bottom: 1.5rem;
}

.progress {
  background-color: #d8d8d8;
  height: 3px;
  width: 350px;
  border-radius: 30px;
}

.progressbar {
  border-radius: 30px;
  height: 100%;
  width: 347px;
  background-color: var(--secondary-color);
  animation: progress 5s 0.1s;
}

@keyframes progress {
  from {
    width: 0;
  }

  to {
    width: 347px;
  }
}

.progressbar2 {
  border-radius: 30px;
  height: 100%;
  width: 342px;
  background-color: var(--tertiary-color);
  animation: progress2 5s 0.3s;
}

@keyframes progress2 {
  from {
    width: 0;
  }

  to {
    width: 342px;
  }
}

.progressbar3 {
  border-radius: 30px;
  height: 100%;
  width: 345px;
  background-color: #333;
  animation: progress3 5s 0.5s;
}

@keyframes progress3 {
  from {
    width: 0;
  }

  to {
    width: 345px;
  }
}

.progress4 {
  background-color: grey;
  height: 1px;
  width: 400px;
  border-radius: 30px;
  margin-bottom: 1rem;
}

.progressbar4 {
  border-radius: 30px;
  width: 80px;
  height: 2px;
  background-color: var(--tertiary-color);
}

#about .edu {
  position: relative;
  display: flex;
  justify-content: space-between;
}

#about .edu .flex td {
  position: absolute;
  left: 315px;
}

#about .edu .flex2 td {
  position: absolute;
  left: 918px;
}

#about .flex3 {
  display: flex;
  justify-content: center;
}

/* services */
#services {
  background-color: var(--primary-color);
  height: 100vh;
}

.img-size {
  width: 250px;
  height: 150px;
  border-radius: 5px;
}

#services .items {
  display: flex;
  margin-bottom: 0.5rem;
}

#services .items:last-child {
  margin-bottom: 0;
}

#services .items p {
  margin: 1rem 0 1.5rem;
}

#services .items > .img-bg {
  background-color: var(--dark-primary-color);
  width: 290px;
  height: 180px;
  margin-right: 4rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* portfolio */
#portfolio {
  background-color: var(--primary-color);
  height: 100vh;
}

#portfolio ul {
  display: flex;
  position: absolute;
  top: 10%;
  right: 13%;
  margin-top: 1rem;
}

#portfolio ul li {
  list-style: none;
}

#portfolio ul li a {
  padding: 1rem;
  color: #fff;
}

#portfolio ul li a:hover {
  color: var(--tertiary-color);
}

#portfolio .flex {
  margin-top: 2rem;
}

#portfolio .flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#portfolio .flex .p1 {
  width: 380px;
  height: 270px;
  position: relative;
  background: url(../img/img4.jpg) no-repeat center center/cover;
  border-radius: 5px;
  border: 0.5px solid #f4f4f4;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  transition: transfrom 0.4s ease;
}

#portfolio .flex .p2 {
  width: 380px;
  height: 270px;
  position: relative;
  background: url(../img/img5.jpg) no-repeat center center/cover;
  border-radius: 5px;
  border: 0.5px solid #f4f4f4;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  transition: transfrom 0.4s ease-in;
}

#portfolio .flex .p3 {
  width: 380px;
  height: 270px;
  position: relative;
  background: url(../img/img6.jpg) no-repeat center center/cover;
  border-radius: 5px;
  border: 0.5px solid #f4f4f4;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  transition: transfrom 0.4s ease-in;
}

#portfolio .flex .p1::after,
#portfolio .flex .p2::after,
#portfolio .flex .p3::after,
#portfolio .flex .p4::after,
#portfolio .flex .p5::after,
#portfolio .flex .p6::after {
  content: "";
  background-color: var(--primary-color);
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transfrom 0.4s ease-in;
}

#portfolio .flex > div > span,
#portfolio .flex > div > span {
  background-color: var(--dark-primary-color);
  padding: 0.5rem 1rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0px;
  left: 25px;
}

#portfolio .flex .p4 {
  width: 380px;
  height: 270px;
  position: relative;
  background: url(../img/img2.jpg) no-repeat center center/cover;
  border-radius: 5px;
  border: 0.5px solid #f4f4f4;
  margin-right: 0.5rem;
  margin-bottom: 0;
  transition: transfrom 0.4s ease-in;
}

#portfolio .flex .p5 {
  width: 380px;
  height: 270px;
  position: relative;
  background: url(../img/img1.jpg) no-repeat center center/cover;
  border-radius: 5px;
  border: 0.5px solid #f4f4f4;
  margin-right: 0.5rem;
  margin-bottom: 0;
  transition: transfrom 0.4s ease-in;
}

#portfolio .flex .p6 {
  width: 380px;
  height: 270px;
  position: relative;
  background: url(../img/img3.jpg) no-repeat center center/cover;
  border-radius: 5px;
  border: 0.5px solid #f4f4f4;
  margin-right: 0.5rem;
  margin-bottom: 0;
  transition: transfrom 0.4s ease-in;
}
#portfolio .flex .p1:hover,
#portfolio .flex .p2:hover,
#portfolio .flex .p3:hover,
#portfolio .flex .p4:hover,
#portfolio .flex .p5:hover,
#portfolio .flex .p6:hover {
  transform: scale(1.03);
  cursor: pointer;
}

#portfolio .flex3 {
  display: flex;
  justify-content: center;
}

#portfolio .flex3 a {
  margin: 0.5rem 0 1.5rem;
}

/* testimonial */
#testimonial {
  background-color: var(--primary-color);
  height: 100vh;
}

.user-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#testimonial .user-card {
  position: relative;
  width: 270px;
  height: 270px;
  border-radius: 20px;
  border: solid grey 1px;
  display: inline-block;
  margin: 0.5rem 0.25rem;
}

#testimonial .user {
  display: flex;
  justify-content: space-around;
}

#testimonial .user-card > P {
  margin: 2rem 0;
}

#testimonial .user-card .user-img img {
  position: absolute;
  bottom: 10%;
  left: 38%;
  display: none;
}

#testimonial .user-card .user-img > h4 {
  position: absolute;
  bottom: 0;
  left: 30%;
  text-align: center;
  margin-bottom: 0.25rem;
}

#testimonial i {
  margin: 1rem 3rem;
  color: #333;
  opacity: 0.8;
}

#testimonial h3 {
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
}

#testimonial .line {
  width: 400px;
  height: 2px;
  background-color: #333;
}

#testimonial .line .linebar {
  width: 70px;
  height: 100%;
  background-color: var(--tertiary-color);
}

/* contact */
#contact {
  background-color: var(--primary-color);
  height: 200vh;
}

#contact .toggler-1,
#contact .toggler-2,
#contact .toggler-3,
#contact .toggler-4,
#contact .toggler-5 {
  opacity: 0;
}

#contact .label {
  border: 2px #333 solid;
  padding: 1rem 2rem;
  margin: 2.5rem;
  cursor: pointer;
}

#contact .toggler-1:checked + label,
#contact .toggler-2:checked + label,
#contact .toggler-3:checked + label,
#contact .toggler-4:checked + label,
#contact .toggler-5:checked + label {
  border: none;
  background-color: var(--secondary-color);
  transition: background-color 0.3s ease-in;
}

#contact .s1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contact .s1 div {
  margin-bottom: 1.75rem;
}

#contact .s3,
#contact .s5 {
  display: flex;
  justify-content: center;
}

#contact .s2 {
  margin-bottom: 1rem;
}

#contact .s4 {
  display: flex;
  justify-content: space-around;
}

#contact .s4 .form {
  position: relative;
  width: 31%;
  height: 50px;
  display: inline-block;
}

#contact .s4 .form input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-top: 20px;
  color: #fff;
  background-color: transparent;
}

#contact .s4 .form label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 2px solid #333;
}

#contact .s4 .form label .content-name {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 0.3s ease;
}

#contact .s4 .form input:focus + .label-name .content-name,
#contact .s4 .form input:valid + .label-name .content-name {
  transform: translateY(-90%);
  color: var(--secondary-color);
}

#contact textarea {
  background-color: transparent;
  margin-top: 1.5rem;
  color: #fff;
  outline: none;
  border: 2px solid #333;
}

#contact .s6 {
  position: relative;
}

#contact .s6 a {
  border: 1px solid #333;
  padding: 0.5rem;
  border-radius: 48%;
  background-color: transparent;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 395px;
}
